* {
background-color: rgb(0,0,0);
}

ParserWidget {
border: 2px solid rgb(250,20,0);
}



QComboBox {
border: 2px solid rgb(100,100,100);
border-radius: 4px;
padding: 0px;
color: rgb(200,200,200);
selection-background-color: rgb(0,0,0);
selection-color: rgb(250,250,250);
}

QComboBox:hover {
background-color: rgb(20,20,20);
}

QComboBox::drop-down {
width: 15px;
border-left-width: 2px;
border-left-color: rgb(100,100,100);
border-left-style: solid;
}

QComboBox:down-arrow {

 image: url(:/images/triangle_icon.png);
 }

 QComboBox:!editable {
 color: rgb(250,250,250);
 }
 
QComboBox QAbstractItemView {
color: rgb(200,200,200);
border: 1px solid darkgray;
selection-background-color: lightgray;
selection-color: black;
border-radius: 2px;
}

QComboBox QAbstractItemView::item {
min-height: 24px;
color: rgb(200,200,200);
}

QDockWidget {
color: black;
}

 QDockWidget::title {
 text-align: left; /* align the text to the left */
 background: rgb(100,100,100);
 padding-left: 5px;
 }

 
 QDockWidget::close-button, QDockWidget::float-button {
 color: black;
 }
 
  QDockWidget::close-button:hover, QDockWidget::float-button:hover {
  background-color: white;
  color: black;
  }
  QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
  padding: 1px -1px -1px 1px;
  }

QGroupBox {
color: rgb(250,250,250);
border: 1px solid rgb(10,10,10);
}

 QHeaderView::section {
 background-color: rgb(0,0,0);
 color: rgb(200,200,200);
 border: 1px solid rgb(10,10,10);
 }

  
QLabel {
color: rgb(250,250,250);
border: 1px solid rgb(10,10,10);
border-radius: 4px;
}

QLabel#connNameLabel {

border-top-right-radius: 0px;
border-bottom-right-radius: 0px;

}

QLabel#connAddrLabel {
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}

QLabel#connPortLabel {
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}

QLineEdit#connNameEdit {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

QLineEdit#connAddrEdit {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

QLineEdit#connPortEdit {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

QComboBox#connAddrCombo {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

QLineEdit {
background-color:rgb(0,0,0);
color: rgb(250,250,250);
selection-color: rgb(0,0,0);
selection-background-color: rgb(250,250,250);
border-style: solid;
border-width: 2px;
border-color: rgb(100,100,100);
border-radius: 4px;
}
QLineEdit:hover {
background-color:rgb(20,20,20);
}
QLineEdit::disabled {
background-color:rgb(100,100,100);
}

QListView::item:selected {
background-color: rgb(20,20,20);
border-style: solid;
border-color: rgb(0,0,0);
}

QListView::item:hover {
background-color: rgb(50,50,50);
}


 QMenu {
 background-color: rgb(200,200,200);
 border: 1px solid black;
 color: black;
 }
 
 QMenu::item:selected { 
 background-color: rgb(100,100,100);
 color: white;
 }


 QMenuBar {
 background-color: rgb(200,200,200);
 color: black;
 }
 
  QMenuBar::item {
  spacing: 5px; /* spacing between menu bar items */
  padding: 5px 10px;
  background: transparent;
  }

 QMenuBar::item:selected { 
 background-color: rgb(100,100,100);
 color: white;
 }
 
 QMenuBar::item:pressed {
 background-color: rgb(100,100,100);
 }

 
QPlainTextEdit::focus {
background-color: rgb(20,20,20);
border-color: rgb(100,100,100);
}

QPlainTextEdit {
background-color:rgb(0,0,0);
color: rgb(200,200,200);
selection-color: rgb(0,0,0);
selection-background-color: rgb(250,250,250);
border-style: solid;
border-width: 2px;
border-color: rgb(100,100,100);
border-radius: 4px;
}

QPushButton {
color: rgb(250,250,250);
border-style: solid;
border-width: 2px;
border-color: rgb(100,100,100);
border-radius: 4px;
}

QPushButton::disabled {
background-color: rgb(100,100,100);
}

QPushButton {
color: rgb(250,250,250);
border-style: solid;
border-width: 2px;
border-color: rgb(100,100,100);
border-radius: 4px;
}

QPushButton#asciiButton {

/*color: rgb(250,250,250);*/
border-right-width: 0px;
/*border-style: solid;*/
border-color: rgb(0,0,0);

border-left-width: 2px;
border-left-color: rgb(100,100,100);
border-top-width: 2px;
border-top-color: rgb(100,100,100);
border-bottom-width: 2px;
border-bottom-color: rgb(100,100,100);

border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

QPushButton#hexButton {
border-left-width: 2px;
border-color: rgb(100,100,100);

border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;

border-right-width: 2px;
border-right-color: rgb(100,100,100);
border-top-width: 2px;
border-top-color: rgb(100,100,100);
border-bottom-width: 2px;
border-bottom-color: rgb(100,100,100);
}

QPushButton#asciiButton::checked,
QPushButton#hexButton::checked,
QPushButton#yAxisRangeButton::checked,
QPushButton#showPlotSettingsBtn::checked,
QPushButton#xTicksButton::checked,
QPushButton#echoButton::checked,
QPushButton#pauseButton::checked,
QPushButton#matchButton::checked
{
background-color: rgb(100,100,100);
}

QSpinBox {
background-color:rgb(0,0,0);
color: rgb(200,200,200);
selection-color: rgb(0,0,0);
selection-background-color: rgb(250,250,250);
border-style: solid;
border-width: 2px;
border-color: rgb(100,100,100);
border-radius: 4px;
}

QSpinBox::up-button {
width: 16px;
height: 10px;
}
QSpinBox::down-button {
width: 16px;
height: 10px;
}

QSpinBox::up-arrow {
width: 8px;
height: 8px;
color: white;
}

QDoubleSpinBox {
background-color:rgb(0,0,0);
color: rgb(200,200,200);
selection-color: rgb(0,0,0);
selection-background-color: rgb(250,250,250);
border-style: solid;
border-width: 2px;
border-color: rgb(100,100,100);
border-radius: 4px;
}

QDoubleSpinBox::up-button {
width: 16px;
height: 10px;
}
QDoubleSpinBox::down-button {
width: 16px;
height: 10px;
}

QDoubleSpinBox::up-arrow {
width: 8px;
height: 8px;
color: white;
}

QScrollBar:vertical {
border: 1px solid rgb(100,100,100);
background: black;
width: 20px;
margin: 22px 0 22px 0;
}

QScrollBar:horizontal {
border: 1px solid rgb(100,100,100);
background: black;
height: 20px;
margin: 0px 22 0px 22;
}

QScrollBar::handle:vertical {
background: rgb(100,100,100);
min-height: 20px;
}

QScrollBar::handle:horizontal {
background: rgb(100,100,100);
min-width: 20px;
}

QScrollBar::add-line:vertical {
border: 2px solid rgb(100,100,100);
background: black;
height: 20px;
subcontrol-position: bottom;
subcontrol-origin: margin;
border-radius: 4px;
border-top-left-radius: none;
border-top-right-radius: none;
}

QScrollBar::add-line:horizontal {
border: 2px solid rgb(100,100,100);
background: black;
width: 20px;
subcontrol-position: left;
subcontrol-origin: margin;
border-radius: 0px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

 QScrollBar::sub-line:vertical {
 border: 2px solid rgb(100,100,100);
 background: black;
 height: 20px;
 subcontrol-position: top;
 subcontrol-origin: margin;
 border-radius: 4px;
 border-radius: 4px;
 border-bottom-left-radius: none;
 border-bottom-right-radius: none;
 }

 QScrollBar::sub-line:horizontal {
 border: 2px solid rgb(100,100,100);
 background: black;
 width: 20px;
 subcontrol-position: right;
 subcontrol-origin: margin;
 border-radius: 0px;
 border-top-right-radius: 4px;
 border-bottom-right-radius: 4px;
 }

 QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
 border: none;
 width: 5px;
 height: 5px;
 background: rgb(200,200,200);
 }

 QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
 border: none;
 width: 5px;
 height: 5px;
 background: rgb(200,200,200);
 }

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
background: none;
}

QSplitter::handle {
background-color: rgb(25,25,25);

}

  QTableView {
  color: rgb(200,200,200);

  }

QTableView QTableCornerButton::section {
background: black;
/*border: 2px solid rgb(100,100,100);*/
}

QToolTip{
border-color: rgb(100,100,100);
color: rgb(200,200,200);
padding: 2px;
}
